#cursor{
    animation:blink .8s infinite;
}

@keyframes blink{
    50%{
        opacity:0;
    }
}

.typing{
    overflow:hidden;
}

.shake{
    animation:shake .3s;
}

@keyframes shake{
    25%{transform:translateX(-2px);}
    50%{transform:translateX(2px);}
    75%{transform:translateX(-2px);}
}