*,
*::before,
*::after {
    box-sizing: border-box;
}

:root{
    --background:black;
    --terminal:black;
    --foreground:#33ff66;
    --prompt:#66ff99;
    --cursor:#33ff66;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "JetBrains Mono", monospace;
    font-size: 17px;
    line-height: 1.2;
}

body {
    background: var(--background);
    color: var(--foreground);
    margin: 0;
}

.hidden {
    display: none !important;
}

#terminal-container {
    position: fixed;
    inset: 0;
    background: var(--terminal);
}

#terminal{
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}

#input-line{
    padding-top: 1px;    
    display:flex;
    flex-wrap:wrap;
    white-space: pre;
}

#output{
    white-space: pre-wrap;
}

#cursor{
    display:inline-block;
    width:10px;
    margin-left:2px;
    background:var(--cursor);
}

#hidden-input{
    position:absolute;
    left:-9999px;
    opacity:0;
}

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#111;
}

::-webkit-scrollbar-thumb{
    background:#444;
}

::-webkit-scrollbar-thumb:hover{
    background:#666;
}